<head>
  <title>{{title}}</title>
  <meta name="description" content="forse" />
  <link rel="canonical" href="http://forse.herokuapp.com/" />
  <link rel="stylesheet" src="//cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css" />
  <link rel="stylesheet" type="text/css" href="/public/stylesheets/style.css" />
</head>
