* {
	margin: 0 auto;
	width: 100%;
	font-family: Courier;
	text-align: center;
	color: #333;
}

.wrapper {
	height: 85%;
	display: table;
}

div.wrapper > a {
	display: table-cell;
	vertical-align: middle;
	font-size: 24px;
	font-weight: bold;
	text-decoration: none;
}

.social {
	height: 5%;
}

.footer {
	height: 10%;
	display: table;
	font-size: 11px;
}

div.footer > p {
	display: table-cell;
	vertical-align: middle;
}
